/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

/* elements-----------------------  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

body{
  background-image: url('assets/burger-friends.jpg');
  background-size: cover;
  /* border: 2px solid; */
  height: 100%;
  width: 100%;
}
main {
  display: flex;
  justify-content: space-around;
}

input {
  margin-top: 7%;
  margin-left: 13%;
}


/* article title and button ---------------- */
.title-and-button {
  display: flex;
  height: 9%;
  background-color: #0fb9b1;
  justify-content: space-between;
}

.whats-for-dinner {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 150%;
  padding-top: 20px;
  padding-left: 2%;
}

.add-recipe-button {
  border-radius: 8px;
  height: 50%;
  width: 10%;
  border: none;
  margin-top: 18px;
  margin-right: 2%;
}

/* dish input section---------------------- */
.dish-input-section,
.dish-output-section {
  background-color: rgba(225, 225, 225, .9);
  margin-top: 5%;
  width: 35%;
  height: 55vh;
}

.side-dish,
.main-dish,
.dessert-dish,
.entire-meal {
font-size: 20px;
font-family: 'Roboto', sans-serif;
}

.looking-for-title {
  height: 5%;
  margin-top: 10%;
  font-size: 28px;
  font-family:  'Roboto', sans-serif;
  text-align: center;
}

.lets-cook-button {
  margin-top: 4%;
  margin-left: 15%;
  height: 12%;
  width: 38%;
  background-color: #0fb9b1;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}




/* Dish  output ------------------ */

.dish-output-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-content: space-around;
}

.dish-output-title,
.you-should-make {
  font-family: 'Roboto', sans-serif;
}

.you-should-make {
font-size: 20px;
font-style: italic;
margin-top: 35%;
}

.dish-output-title{
  /* height: 50%; */
font-size: 40px;

}

.clear-button-box{
    height: 50%;
    margin-bottom: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    content:
}

.clear-button {
  width: 17%;
  height: 20%;
  margin-right: 10%;
  background-color: #95a5a6;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.cook-pot-img {
  height: 50%;
  margin-top: 20%;
}
